body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial, sans-serif;
    touch-action: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.sticky-banner {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    background: transparent;
}

#sticky-banner-top {
    top: 0;
}

#sticky-banner-bottom {
    bottom: 0;
}

#unity-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    /* max-width: 1300px; */
    background: #231F20;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('logo.png') no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

#unity-progress-bar-empty {
    width: 200px;
    height: 18px;
    margin-top: 10px;
    background: #3a3a3a;
    border-radius: 9px;
    overflow: hidden;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: #ffcc00;
    transition: width 0.1s;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

#unity-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#unity-fullscreen-button {
    width: 36px;
    height: 36px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTQ4MCAzMkgzMkMxNC4zIDMyIDAgNDYuMyAwIDY0djM4NGMwIDE3LjcgMTQuMyAzMiAzMiAzMmg0NDhjMTcuNyAwIDMyLTE0LjMgMzItMzJWNjRjMC0xNy43LTE0LjMtMzItMzItMzJ6bS0zMiAzODRIMzJWNjRoNDQ4djM1MnoiLz48L3N2Zz4=') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.sticky-banner-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}

@media (max-width: 1024px)
{
    #unity-container {
        width: 100%;
    }

    .sticky-banner-right {
        display: none;
    }
}